/*
https://v4-alpha.getbootstrap.com/getting-started/introduction/#box-sizing
Explained that some embedded system, such as google map need
this type of deconstruction to function correctly */
.selector-for-some-widget {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}

* {
  border: 1px solid red;
}

video{
  width:100%;
  height: auto;
  vertical-align: middle
}

/*https://codepen.io/icutpeople/pen/whueK */
.overlay-desc {
  position: absolute;
  top: 400px; bottom:0; left:0; right:0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

h1 {
  font-size: 80px;
}


body {
  font-family: 'Open Sans Condensed', sans-serif;
}

.logo-title {
  font-size: 30px;
}

.first-section {
  background-color: #e8eaea;
  height: 400px;
}

.second-section {
  background-color: #636363;
  min-height: 700px;
  color: white;
}

.third-section {
  background-color: white;
  height: 1200px;
  overflow: hidden;
}

.first-img{
  max-width: 300px;
  z-index: -100;
  transform: translateY(15%)
}

.second-img{
  max-width: 200px;
  z-index: -50;

}

.third-img{
  max-width: 200px;
}

p {
  padding: 20px;
  font-size: 25px;
}

.embVideo {
  padding:10px;
  margin: 10px;
}

.spacer {
  height: 50px;
}

.shorty {
  width: 100%;
}

.taller {
  width: 100%
}


.fourth-section {
    background-color: white;
    height: 600px;
}


footer {
  height: 200px;
  background-color: #dbdbdb;
}
