/*
https://v4-alpha.getbootstrap.com/getting-started/introduction/#box-sizing
Explained that some embedded system, such as google map need
this type of deconstruction to function correctly */
.selector-for-some-widget {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}

* {
  border: 1px solid red;
}

video{
  width:100%;
  height: auto;
  vertical-align: middle
}

/*https://codepen.io/icutpeople/pen/whueK */
.overlay-desc {
  position: absolute;
  top: 0px; bottom:0; left:0; right:0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

h1 {
  font-size: 80px;
}


body {
  font-family: 'Open Sans Condensed', sans-serif;
}

.logo-title {
  font-size: 30px;
}

.first-section {
  background-color: #e8eaea;
  height: 400px;
}

.second-section {
  background-color: #636363;
  min-height: 700px;
  color: white;
}

.third-section {
  background-color: white;
  height: 1200px;
  overflow: hidden;
}

.first-img{
  max-width: 300px;
  z-index: -100;
  transform: translateY(15%)
}

.second-img{
  max-width: 200px;
  z-index: -50;

}

.third-img{
  max-width: 200px;
}

p {
  padding: 20px;
  font-size: 25px;
}

.embVideo {
  padding:10px;
  margin: 10px;
}

.spacer {
  height: 50px;
}

.shorty {
  width: 100%;
}

.taller {
  width: 100%
}


.fourth-section {
    background-color: #dbdbdb;
    height: 600px;
}

.fourth-section img {

  width: 100%;
}

footer {
  height: 200px;
  position: relative;
  text-align: center;
  margin: auto;
}

footer img {
  height:100%;
  width: 100%;
  z-index: -1000;

}

.transist img {
  /* https://codepen.io/afinedayproductions/pen/EzvLp */
  transition: all 5s;
}

.transist img:hover {
  transform: scale(1.2);
  -moz-transform: scale(1.2);
 -webkit-transform: scale(1.2);
}

.exact {
  width:100%;
  overflow:hidden;
}

.selector img {
  width:30px;
  height:30px;
  radius: 100px;
  border: 2px solid white;
  outline: 1px solid black;

}

.selector img:hover {
  border: 0px solid blue;
}

.overlayy{
  position: absolute;
  z-index: 0;
  top:0;
  left: 0;
  right: 0;
}

.overlayy a {
  color: white;
  font-weight: bold;
}

.overlayy a:hover {
  text-decoration: none;
}

.poster-img {
  height: 100%;
  weight: 100%;
}
