/*
https://v4-alpha.getbootstrap.com/getting-started/introduction/#box-sizing
Explained that some embedded system, such as google map need
this type of deconstruction to function correctly

Never had to use it tho...I think.*/
.selector-for-some-widget {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}


/* This little piece of code is one of the best tool I have ever used
To see all these annoying boxes getting out of boxes...*/
* {
  border: 0px solid red;
}


.video{
  width:100%;
  height: auto;
  vertical-align: middle;
  position: relative;
}


video {
  width:100%;
}


/*
https://codepen.io/icutpeople/pen/whueK
I couldn't figure out how to plaster text over image for some reason
I think I know how now...
*/
.overlay-desc {
  position: absolute;
  top: 0px; bottom:0; left:0; right:0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: 0px solid yellow;
}


h1 {
  font-size: 80px;
}


@media screen and (max-width: 925px){
    h1 {
        font-size: 40px;
    }
}



body {
  font-family: 'Open Sans Condensed', sans-serif;
}


.logo-title {
  font-size: 30px;
}


.first-section {
  background-color: white;
}


.second-section {
  background-color: #636363;
  min-height: 700px;
  color: white;
}


.third-section {
  background-color: white;
  min-height: 1000px;
  overflow: hidden;
  padding:0;
}


.first-img {
  width: 100%;
}


.second-img {
  width: 50%;
}


.third-img {
  max-width: 200px;
}


p {
  padding: 20px;
  font-size: 25px;
}


.embVideo {
  padding:10px;
  margin: 10px;
}


.embVideo img {
  width: 100%;
}


.spacer {
  height: 50px;
}


.spacer2 {
  padding: 10px;
}


.shorty {
  width: 100%;
}


.taller {
  width: 100%
}


.fourth-section {
    background-color: #dbdbdb;
    min-height: 600px;
}

.fourth-section img {
  width: 100%;
}

footer {
  background-color: gray;
  position: relative;
  padding: 0;
  bottom: 0;
}


footer img {
  height:100%;
  width: 100%;
  z-index: -1000;
}


.transist img {
  /* https://codepen.io/afinedayproductions/pen/EzvLp */
  transition: all 5s;
}


.transist img:hover {
  transform: scale(1.2);
  -moz-transform: scale(1.2);
 -webkit-transform: scale(1.2);
}


.exact {
  width:100%;
  overflow:hidden;
}


.selector img {
  width:30px;
  height:30px;
  radius: 100px;
  border: 2px solid white;
  outline: 1px solid black;
}


.selector img:hover {
  border: 0px solid blue;
}


.overlayy{
  position: absolute;
  z-index: 0;
  top:0;
  left: 0;
  right: 0;
}


.overlayy a {
  color: white;
  font-weight: bold;
  text-align: center;
}


.overlayy a:hover {
  text-decoration: none;
}


.poster-img {
  height: 100%;
  weight: 100%;
}


nav button {
  border: 1px solid white;
  color: white;
  width: 30px;
  height: 30px;
  padding: 1px;
}


#writeover {
  position: fixed;
  text-align: center;
  right:15px;
  top: 20px;
  z-index: 11;
}


.pushoff {
width: 50px;
}


.vertical {
	position: absolute;
  right:0px;
  z-index: 0;
}


.vertical2 {
	position: absolute;
  left: 50px;
  z-index: 2;
}


.stationary {
  position: absolute;
  left: 150px;
  bottom: 10px;
  z-index:1;
}


#anchorpoint{
  overflow: hidden;
}


.icon {
  width: 20px;
  height: 20px;
  text-decoration: none;
  opacity: .55;
}


.icon:hover {
  opacity: 1;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}


.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}


.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/*.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}*/

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


.colorme {
  color: white;
  background-color: gray;
  padding: 5px;
}


.colorme a {
  text-decoration: underline;
}
